<% unless @user.followers.include?(current_user) %>
  <li class="list-group-item">
    <%= link_to "Follow", user_followers_path(@user), method: :post, class: "btn btn-block btn-primary" %>
  </li>
<% else %>
  <li class="list-group-item">
    <%= link_to "Unfollow", user_follower_path(current_user), method: :delete, class: "btn btn-block btn-secondary" %>
  </li>
<% end %>
