<div class="container">
  <div class="row py-3">
    <div class="<%= standard_column_setting %>">
      <% @wins.reverse.each do |win| %>
        <%= render "challenges/wins/win", win: win %>
      <% end %>
    </div>
  </div>
</div>
