
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="card my-3">
        <ul class="list-group">
          <li class="list-group-item">Followers (<%= @the_people_this_user_follows.size %>)</li>
          <% @the_people_this_user_follows.each do |user| %>
            <%= render 'users/user', user: user %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
