<div class="card-columns">
  <% assets.each do |asset| %>
    <% if asset.blob.video? %>
      <%= video_tag url_for(asset), controls: "true", class: "embed-responsive-item" %>
    <% else %>
      <%= image_tag asset, class: "img-fluid my-3" %>
    <% end %>
  <% end %>
</div>
