<h1>Editing Win</h1>

<%= render 'form', url: challenge_win_path(@challenge, @win), win: @win %>

<%= link_to 'Show', challenge_win_path(@challenge, @win) %> |
<%= link_to 'Back', challenge_win_path %>
