<div class="p-3 <%= standard_column_setting %>">
  <%= render "challenges/wins/win", win: @win %>
  <%= link_to 'Edit', edit_challenge_win_path(@challenge, @win), class: "btn btn-block btn-primary" %>
  <%= link_to 'View Challenge', challenge_path(@challenge), class: "btn btn-block btn-primary" %>
</div>
