<li class="list-group-item">
  <div class="row">
    <div class="col-4">
      <%= image_tag user.avatar, class: "img-fluid", width: "150px" if user.avatar.attached? %>
    </div>
    <div class="col-8">
      <%= link_to user do %>
        <p class="small">
          <strong>Challenges</strong> (<%= user.challenges.size %>)
          <strong>Wins</strong> (<%= user.wins.size %>)
        </p>
      <% end %>
    </div>
  </div>
</li>
