<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="row py-3">
        <div class="col">
          <%= link_to "Followers", followers_path, class: "btn btn-block btn-primary" %>
        </div>
        <div class="col">
          <%= link_to "Following", following_path, class: "btn btn-block btn-primary" %>
        </div>
      </div>
      <h1>OLD</h1>
      <% if @users.size > 0 %>
        <div class="card my-3">
          <ul class="list-group list-group-flush">
            <% @users.reverse.each do |user| %>
              <%= render "users/list_group_item", user: user %>
            <% end %>
          </ul>
        </div>
        <% else %>
          No users are currently signed up to this application.
      <% end %>
    </div>
  </div>
</div>
