<div class="container">
  <div class="row my-5">
    <div class="<%= standard_column_setting %>">
      <div class="text-center">
        <h2>Add Friend</h2>
      </div>
      <%= render "add_friend_form" %>
    </div>
  </div>
</div>
