<div class="container">
  <div class="row">
    <% challenges.each do |challenge| %>
      <div class="col">
        <%= render "challenges/challenge_card", challenge: challenge %>
      </div>
    <% end %>
  </div>
</div>
