<div class="container">
  <div class="row">
    <div class="col">
      <div class="py-5 text-center">
        <%= image_tag "win_daily_logo.png",class: "d-block mx-auto mb-4", alt: "", width:"72", height: "72" %>
        <h1 class="display-1">Win Daily</h1>
        <h2 class="text-muted">Get better with your friends.</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <blockquote class="blockquote">
        <p class="mb-0">Our character is basically a composite of our habits. Because they are consistent, often unconscious patterns, they constantly, daily, express our character.</p>
        <footer class="blockquote-footer float-right">Stephen Covey</footer>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 py-5">
      <p class="lead">
        In 2019 three friends and I challenged each other to do 100 burpees a day. We started in November and kept it up until March of 2020.
      </p>
      <p class="lead">
        It was a great way to stay fit. The best thing was that our friendships developed because we were doing difficult things together on a daily basis.
      </p>
      <p class="lead">

      </p>
      <p class="lead">
        This application is designed to help you and your friends develop habits and relationships. I hope you enjoy it.
      </p>
      <p class="lead"><%= link_to "Get started for free", new_challenge_path %></p>
    </div>
  </div>
</div>
