<div class="container">
  <div class="row">
    <div class="col">
      <div class="py-5 text-center">
        <%= image_tag "win_daily_logo.png",class: "d-block mx-auto mb-4", alt: "", width:"72", height: "72" %>
        <h1 class="display-1">Win Daily</h1>
        <h2 class="text-muted">Get better with your friends.</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 py-5">
      <blockquote class="blockquote">
        <p class="mb-0">Our character is basically a composite of our habits. Because they are consistent, often unconscious patterns, they constantly, daily, express our character.</p>
        <footer class="blockquote-footer float-right">Stephen Covey</footer>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 py-5">
      <p class="lead">
        In 2019 three friends and I challenged each other to doing 100 burpees a day.
      </p>
    </div>
  </div>
</div>
