<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Careers</h1>
      <p class="lead text-muted">
        We currently have no open positions.
      </p>
      <p class="lead">
        Tweet me if you'd like to be a part of this.
      </p>
      <p class="lead">
        <%= link_to "Connect", "https://twitter.com/IndependentIan", class: "btn btn-lg btn-primary my-3", target: "_blank" %>
      </p>
    </main>
  </div>
</body>
