<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">
    Get better with your friends.
  </p>
</div>
<div class="container">
  <%= render 'pricing_options' %>
  <%= render 'pricing_faq' %>
</div>
