<div class="container">
  <div class="row">
    <div class="col py-5 text-center">
      <%= image_tag "taxjar/logo.jpg", width: "150px", alt: "tax jar logo" %>
      <p>Thank you for taking a look at my application.</p>
    </div>
  </div>
</div>
