<div class="row">
  <div class="col-12">
    <%= image_tag challenge.primary_image, class: "img-fluid" if challenge.primary_image.attached? %>
    <h5><%= challenge.title %></h5>
    <p><%= challenge.description %></p>
  </div>
</div>
