<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-3">
      <h1>Editing Challenge</h1>

      <%= render 'form', challenge: @challenge %>

      <%= link_to 'Show', @challenge, class: "btn btn-block btn-info" %>
      <%= link_to 'Back', challenges_path, class: "btn btn-block btn-secondary" %>
    </div>
  </div>
</div>
