<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>

      <%= render "challenges/list_challenges" %>

      <%= link_to 'New Challenge', new_challenge_path, class: "btn btn-block btn-primary" %>
    </div>
  </div>
</div>
