<div class="container">
  <div class="row">
    <div class="col <%= standard_column_setting %>">
      <div class="text-center py-3"><h5>Create a Challenge</h5></div>
      <%= render 'form', challenge: @challenge %>
    </div>
  </div>
</div>
