<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Upload</span>
  </div>
  <div class="custom-file">
    <%= f.file_field image_symbol, class: "form-control", multiple: true %>
    <%= f.label image_symbol, class:"custom-file-label", multiple: true %>
  </div>
</div>
