<% if current_user %><br>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to "Settings", edit_user_registration_path(@user), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "All Challenges", challenges_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My Challenges", my_challenges_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link" %>
    </li>
  </ul>
<% end %>
