<footer class="text-muted">
  <div class="container">
    <div class="row my-4">
      <div class="col">
        © Win Daily LLC.
        <%= image_tag "win_daily_logo.png", width: '40px', style: "opacity:0.6;", class: "ml-2" %>
      </div>
      <div class="col">
        <p>Pricing</p>
        <p>About</p>
        <p>Careers</p>
      </div>
      <div class="col">
        <div class="mt-2 float-right">
          <%= link_to "Back to Top", "#" %>
        </div>
      </div>
    </div>
  </div>
</footer>
