<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p class="my-5">
      © Win Daily LLC.
      <%= image_tag "win_daily_logo.png", width: '40px', style: "opacity:0.6;" %>
    </p>
  </div>
</footer>
