<nav class="navbar fixed-bottom navbar-dark bg-dark text-white">
  <div class="col-3 text-center">
    <%= link_to material_icon.people_outline, users_path %>
  </div>
  <div class="col-3 text-center">
    <%= link_to material_icon.search, challenges_path %>
  </div>
  <div class="col-3 text-center">
    <%= link_to material_icon.check_circle_outline, my_challenges_path %>
  </div>
  <div class="col-3 text-center">
    <%= link_to material_icon.settings, edit_user_registration_path %>
  </div>
</nav>
