<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to material_icon.settings.md_24, edit_user_registration_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to edit_user_path(current_user), class: "nav-link" do %>
      <%= render "users/small_circular_avatar", image_size: 20 %>
    <% end %>
  </li>
</ul>
